# Build artifacts
/target
tket2-py/target/

# Lock files
Cargo.lock

# Python caches
__pycache__
.ipynb_checkpoints

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
.pre-commit-config.yaml

# Coverage reports
.coverage
coverage.xml
lcov.info

# python hypothesis testing
.hypothesis