# Build artifacts
/target
tket-py/target/
/dist

# Python caches
__pycache__
.ipynb_checkpoints

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# Coverage reports
.coverage
coverage.xml
lcov.info

# python hypothesis testing
.hypothesis

# local cargo config
/.cargo/config.toml
.envrc

.DS_Store
