# Use common dependencies
-r requirements.txt

# Development requirements
maturin     # Build wheels
ruff        # Code formatting
pytket      # TKET1
jupyterlab  # For running the examples
graphviz    # Visualisation of Hugrs in the notebooks