name: Rust Semver Checks
on:
  pull_request_target:
    branches:
      - main

jobs:
  # Check if changes were made to the relevant files.
  # Always returns true if running on the default branch, to ensure all changes are thoroughly checked.
  changes:
    name: Check for changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      rust: ${{ steps.filter.outputs.rust }}
      python: ${{ steps.filter.outputs.python }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/check-changes
        id: filter

  rs-semver-checks:
    needs: [changes]
    if: ${{ needs.changes.outputs.rust == 'true' }}
    runs-on: ubuntu-latest
    env:
      # Path to the cached tket-c-api library
      # When this envvar is set, the `./.github/actions/tket-c-api` action **must** be run to fetch the artifacts
      # This config is not required, but speeds up the build by caching the tket-c-api library
      # The alternative is to install conan and remove the env var
      TKET_C_API_PATH: ${{ github.workspace }}/tket-c-api
      LD_LIBRARY_PATH: ${{ github.workspace }}/tket-c-api/lib
    steps:
      - name: Checkout tket
        uses: actions/checkout@v5
      - name: Install tket-c-api library
        uses: ./.github/actions/tket-c-api
        with:
          install-path: ${{ env.TKET_C_API_PATH }}
          target: x86_64-unknown-linux-gnu
          compatibility: manylinux_2_28
      - name: Install LLVM from apt
        run: |
          echo "Installing apt dependencies: llvm-14"
          sudo apt-get install -y llvm-14
      - uses: CQCL/hugrverse-actions/rs-semver-checks@main
        env:
          TKET_C_API_PATH: ${{ env.TKET_C_API_PATH }}
        with:
          token: ${{ secrets.HUGRBOT_PAT }}
